body {
    font-family: Arial, sans-serif; /* Keeping the font as Arial or a default sans-serif font */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.finger {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.stephany-photo {
    width: 100px;
    height: auto;
    margin-left: 99px; /* Add margin to separate the Stephany photo from the header */
}

header {
    background-color: #ffffff;
    color: #303030;
    text-align: center;
    padding: 20px;
    position: relative;
}

h1 {
    font-size: 36px;
    margin: 0;
    display: inline-block;
}

.logo-container {
    display: inline-block;
}

@media (max-width: 600px) {
    .logo-container {
        display: block;
        text-align: center;
    }
}

section {
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #ff69b4; /* Hot pink text color for section headers */
}

.project {
    margin-top: 20px;
}

#about {
    background-color: #ffffff; /* White background for the 'About Me' section */
}

#projects {
    background-color: #f0f0f0; /* Light grey background for the 'Projects' section */
}

#contact {
    background-color: #d8baff; /* Lighter pastel purple for the 'Contact' section */
}
